@use "variables";

.index {
    main {
        padding: 0;
        section {
            padding: 0 25px;
        }
    }
    .header-location {
        background-color: #eaeaea;
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 17px;
        color: #353535;
        i {
            align-self: center;
        }
    }

    .hero {
        background-color: variables.$bgcolor;
        margin: 0px 0px 50px 0px;
        padding-bottom: 50px;
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h1,
        p {
            text-align: center;
        }
        h1 {
            font-weight: 700;
            font-size: 24px;
            line-height: 28.13px;
        }
        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 21.09px;
        }
    }

    .fonctionnement {
        ol {
            counter-reset: item;
            list-style-type: none;
            padding: 0px;
        }
        li {
            border-radius: 20px;
            background-color: variables.$bgcolor;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            padding: 15px 33px;
            margin: 25px 0px 25px 10px;
            position: relative;
            line-height: variables.$icon-size-list;
            i {
                margin-right: 33px;
            }
            .fa-store {
                color: variables.$button-primary;
            }
            &::before {
                content: counter(item) "";
                counter-increment: item;
                display: block;
                width: variables.$icon-size-list;
                height: variables.$icon-size-list;
                line-height: variables.$icon-size-list;
                background-color: variables.$button-primary;
                color: variables.$bgcolor;
                border-radius: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                position: absolute;
                left: -(calc(variables.$icon-size-list/2));
            }
        }
    }

    .restaurants {
        display: flex;
        flex-direction: column;
        gap: 18px;
        .card-container {
            display: flex;
            flex-direction: column;
            gap: 18px;
        }
        .card {
            position: relative;
            height: 251px;
            &_img {
                height: 70%;
                border-radius: 15px 15px 0 0;
            }
            &_new {
                position: absolute;
                z-index: 2;
                top: 13px;
                right: 12px;
                background-color: variables.$green;
                color: variables.$green-font;
                width: 80px;
                height: 29px;
                border-radius: 2px;
                line-height: 2;
                text-align: center;
                font-weight: 500;
                font-size: 14px;
            }
            .card_content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .card_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 5px;
                    h2,
                    p {
                        margin: 5px 0;
                    }
                }
                .card_favorite {
                    align-self: center;
                    margin-right: 10px;
                    font-size: 21px;
                    .fa-solid {
                        background-image: variables.$gradient;
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .fonctionnement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 180px;
            gap: 25px;
            ol {
                display: flex;
                flex-direction: row;
                gap: 25px;
                li {
                    width: 322px;
                    padding: 26px 0;
                    text-align: center;
                    i {
                        margin: 0 8px 0 0;
                    }
                    &::before {
                        top: 26px;
                    }
                }
            }
        }
        .restaurants {
            gap: 28px;
            padding: 0 180px 50px 180px;
            background-color: variables.$bgcolor;
            .card-container {
                gap: 50px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                .card {
                    width: 100%;
                }
            }
        }
        footer {
            flex-direction: row-reverse;
            gap: 64px;
            align-items: end;
            height: 114px;
            margin-top: 0;
            h1 {
                margin: 0;
            }
            h1,
            .footer-container {
                margin-bottom: 16px;
            }
            .footer-container {
                display: flex;
                flex-direction: row;
                align-items: end;
                gap: 32px;
                div {
                    display: flex;
                    flex-direction: row;
                    gap: 16px;
                }
                p {
                    margin: 0 auto;
                }
            }
        }
    }
}
