$button-primary: #9356DC;
$button-secondary: #FF79DA;
$tertiary: #99E2D0;
$blue2: #003A68;
$blue: #89C8FA;
$green-font: #008166;
$green: #99E2D0;
$white: #FFFFFF;
$bgcolor: #F6F6F6;
$grey: #353535;
$gradient: linear-gradient($button-secondary,$button-primary);
$inverse-gradient: linear-gradient($button-primary,$button-secondary);

$icon-size-list: 24px;