.index main {
  padding: 0;
}
.index main section {
  padding: 0 25px;
}
.index .header-location {
  background-color: #eaeaea;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
  color: #353535;
}
.index .header-location i {
  align-self: center;
}
.index .hero {
  background-color: #F6F6F6;
  margin: 0px 0px 50px 0px;
  padding-bottom: 50px;
}
.index .hero div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index .hero h1,
.index .hero p {
  text-align: center;
}
.index .hero h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28.13px;
}
.index .hero p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21.09px;
}
.index .fonctionnement ol {
  counter-reset: item;
  list-style-type: none;
  padding: 0px;
}
.index .fonctionnement li {
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 15px 33px;
  margin: 25px 0px 25px 10px;
  position: relative;
  line-height: 24px;
}
.index .fonctionnement li i {
  margin-right: 33px;
}
.index .fonctionnement li .fa-store {
  color: #9356DC;
}
.index .fonctionnement li::before {
  content: counter(item) "";
  counter-increment: item;
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: #9356DC;
  color: #F6F6F6;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: -12px;
}
.index .restaurants {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.index .restaurants .card-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.index .restaurants .card {
  position: relative;
  height: 251px;
}
.index .restaurants .card_img {
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.index .restaurants .card_new {
  position: absolute;
  z-index: 2;
  top: 13px;
  right: 12px;
  background-color: #99E2D0;
  color: #008166;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  line-height: 2;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}
.index .restaurants .card .card_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.index .restaurants .card .card_content .card_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}
.index .restaurants .card .card_content .card_text h2,
.index .restaurants .card .card_content .card_text p {
  margin: 5px 0;
}
.index .restaurants .card .card_content .card_favorite {
  align-self: center;
  margin-right: 10px;
  font-size: 21px;
}
.index .restaurants .card .card_content .card_favorite .fa-regular {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-position-y: top 19px;
}
@media screen and (min-width: 768px) {
  .index .fonctionnement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 180px;
    gap: 25px;
  }
  .index .fonctionnement ol {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .index .fonctionnement ol li {
    width: 322px;
    padding: 26px 0;
    text-align: center;
  }
  .index .fonctionnement ol li i {
    margin: 0 8px 0 0;
  }
  .index .fonctionnement ol li::before {
    top: 26px;
  }
  .index .restaurants {
    gap: 28px;
    padding: 0 180px 50px 180px;
    background-color: #F6F6F6;
  }
  .index .restaurants .card-container {
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .index .restaurants .card-container .card {
    width: 100%;
  }
}

.menus {
  background-color: #F6F6F6;
}
.menus main {
  position: relative;
}
.menus .menus-background {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 275px;
}
.menus .menu-container {
  border-radius: 36px 36px 0 0;
  position: relative;
  z-index: 2;
  bottom: 36px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menus .menu-container h2::after {
  content: "";
  display: block;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  position: relative;
  top: 8px;
}
.menus .menu-container_titre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: auto;
}
.menus .menu-container_titre h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  line-height: 40.82px;
  margin-right: 20px;
}
.menus .menu-container_titre i {
  align-self: center;
}
.menus .menu-container section {
  margin: 0 17px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menus .menu-container section h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
}
.menus .menu-container section .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 349px;
  height: 69px;
  margin: auto;
}
.menus .menu-container section .card_content {
  align-self: center;
}
.menus .menu-container section .card_content h3,
.menus .menu-container section .card_content p {
  font-family: "Roboto";
  margin: 0 16px;
}
.menus .menu-container section .card_content h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}
.menus .menu-container section .card_content p {
  font-weight: 300;
  font-size: 15.04px;
  line-height: 17.63px;
}
.menus .menu-container section .card_price {
  align-self: end;
  margin-bottom: 12px;
  margin-right: 16px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
.menus .menu-container button {
  width: 186px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .menus {
    background-color: white;
  }
  .menus main .menu-container {
    max-width: 1055px;
    width: 100%;
    margin: auto;
    align-items: center;
  }
  .menus main .menu-container section {
    /*
    max-width: 634px;
    width: 100%;
    */
  }
  .menus main .menu-container section h2 {
    margin: 12px 5px;
  }
  .menus main .menu-container section .card {
    height: 69px;
    width: 634px;
  }
  .menus main .menu-container button {
    position: relative;
    z-index: 2;
  }
  .menus main .menu-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 86px;
    position: absolute;
    bottom: -86px;
    background-color: #F6F6F6;
  }
}

button {
  transition: all 0.3s;
  filter: brightness(1);
}

button:hover {
  filter: brightness(1.5);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.index .card_favorite .fa-regular {
  transition: all 0s, background-position-y 0.3s;
}
.index .card_favorite .fa-regular:hover {
  font-weight: 1000;
  color: transparent;
  background-position-y: top 0px !important;
}

body {
  font-family: "Roboto";
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

button {
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  min-width: 186px;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  border-width: 0px;
  border-radius: 25px;
  margin: auto;
}

img {
  object-fit: cover;
  width: 100%;
}

header {
  display: flex;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
  align-items: center;
  height: 63px;
  background-color: #F6F6F6;
  padding: 0 25px;
}
header h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  line-height: 43.74px;
  margin: auto;
}
header p {
  font-size: 19px;
  line-height: 18.75px;
  font-weight: 500;
}
header h1,
header p {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

.card {
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

footer {
  color: #FFFFFF;
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 22px 25px;
  margin-top: 50px;
  position: relative;
  z-index: 10;
}
footer h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 26.24px;
}
footer a {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    gap: 64px;
    align-items: end;
    height: 114px;
    margin-top: 0;
  }
  footer h1 {
    margin: 0;
  }
  footer h1,
  footer .footer-container {
    margin-bottom: 16px;
  }
  footer .footer-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 32px;
  }
  footer .footer-container div {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  footer .footer-container p {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
